<table>
  <tbody>
    <% obj.each do |user| %>
    <tr>
      <td id="user-table" class="col-xs-1"><%= link_to gravatar_for(user, 30), user_path(user) %></td>
      <% if user.github? %>
      <td><h4><i class="icon-space-left"><%= link_to "", "http://#{user.github}", :target => "_blank", class:"fa fa-github-alt", id:"icon-space"%></i></h4></td>
      <% end %>
      <p><td id="user-table" class="col-xs-offset-1"><%= link_to "#{user.name}(#{user.posts.count})", user_path(user) %></td></p>
      <td>
        <% if user_signed_in? %>
          <%= render 'users/friend', obj: user %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
