<div class="container">
  <div class="col-md-12">
    <%= render 'friends/lookup' %>
  </div>
    <div class="col-md-6">
    <% if @friendships.size > 0 %>
      <h3>My Freinds</h3>
      <%= render 'users/user', obj: @friendships %>
    <% else %>
      <div class="row col-xs-12">
        <p>You Don't have any friends yet, Please add some!</p>
      </div>
    <% end %>
  </div>
</div>
