<div class="container" id="about-page">
  <div class="col-xs-12">
  </div>
  <div class="col-md-2"></div>
  <div class="col-xs-3 col-md-1">
    <h3>Nate Lipp</h3>
    <h3>
      <i><%= link_to "", "http://www.github.com/nalipp", :target => "_blank", class:"fa fa-github-alt"%></i>
      <i><%= link_to "", "https://twitter.com/nateplipp", :target => "_blank", class:"fa fa-twitter-square"%></i>
    </h3>
  </div>
  <div class="col-xs-9 col-md-6">
    <p>
      How can learners do more than just follow tutorails then move onto the next one?<br/>
      Are there better ways to learn from others who are at a similar level?<br/>
      How can we find others to discuss and share code creations?<br/>
      What ways can we learn a concept and then focus on creating something original?<br/>
    </p>
    <p>
      If you have any ideas about this topic.<br/>
      Lets chat : twitter or nateplipp@gmail.com<br/>
    </p>
    </div>
  </div>
</div>
