<div class="container" id="about-page">
  <div class="col-xs-12">
  </div>
  <div class="col-md-2"></div>
  <div class="col-xs-3 col-md-1">
    <h3>Nate Lipp</h3>
    <h3>
      <i><%= link_to "", "http://www.github.com/nalipp", :target => "_blank", class:"fa fa-github-alt"%></i>
      <i><%= link_to "", "https://twitter.com/nateplipp", :target => "_blank", class:"fa fa-twitter-square"%></i>
    </h3>
  </div>
  <div class="col-xs-9 col-md-6">
    <p>
      When learning to code how can we do more than just follow and finish tutorails?<br/>
      What ways can we not just learn a concept but also build something original?<br/>
      How can we find other learners who are at a similar level?<br/>
    </p>
    <p>
      If you have any ideas about this topic.<br/>
      Or just want to chat. nateplipp@gmail.com<br/>
    </p>
    </div>
  </div>
</div>
