<div class="container">
  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8" id="pad-top">
      <%= render 'posts/post', obj: @posts %>
      <h2><%= link_to "", new_post_path, class: "glyphicon glyphicon-plus"%></h2>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
