@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #fafafa;
  font-family:  Arial, Helvetica, sans-serif;
  margin-bottom: 80px;
  color: gray;
}

p {
  line-height: 22px;
}

.link-unstyle {
  .link-unstyle {
    color: red;
}
.link-unstyle:hover,
.link-unstyle:focus {
    color: red;
    text-decoration: none;
  }
}

#post-score {
  padding-left: 5px;
}

#no-space {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#avatar {
  padding-top: 10px;
}

#avatar-nav {
  padding-right: 0px;
}

#about-page {
  padding-top: 30px;
}

#user-table {
  padding-top: 5px;
  padding-bottom: 5px;
}

#icon-space {
  padding-right: 5px;
}

#pad-top {
  padding-top: 40px;
}

#new-post-icon {
  padding-bottom: 40px;
  padding-left: 50px
}

.icon-space-left {
  padding-left: 10px;
  padding-right: 3px;
}

.inlinePost {
  color: grey;
}

#post-path {
  padding-right: 8px;
}

#post-link {
  color: lightgray;
}

.post-container {
  padding-top: 40px;
}
