@import "bootstrap-sprockets";
@import "bootstrap";

.inlinePost {
  color: grey;
}

#post-path {
  padding-right: 8px;
}

#post-link {
  color: lightgray;
}

/********** CUSTOMIZE POSTS **********/

.post-container {
  padding-top: 40px;
}
